# Project dependencies
.cache
node_modules
yarn-error.log

# Build directory
/public
.env.development
.env.production
.DS_Store
gh_token.txt
mmd-site2-012723.zip
mmd-site2-051222.zip
mmd-site2-080721.zip
_tattoos-hero.jpg