# Project dependencies
.cache
node_modules
yarn-error.log

# Build directory
/public
/2022_update
.env*
.DS_Store
gh_token.txt
mmd-site2-*.zip
melanydierks-ArtistBio.pdf
_artist-hero.jpg
_tattoos-hero.jpg
mmd-site2.code-workspace
wreckYourself-thumb.jpg
wreckYourself.jpg
newart1.jpg
newart1-thumb.jpg
2015-faThumb2.jpg
2015-fineArt2.jpg