html
{
  font-size:62.5%;
  display:flex;
  justify-content:center;
  margin:0;
  padding:0;
}

body
{
  font-family: 'Open Sans', sans-serif;
  background-color:#eee;
  font-size:1.2rem;
  width:100%; /* use 100% for mobileMenu clearance */
  overflow-x:hidden;
}

img
{
  display:block;
  width:100%;
  height:auto;
}

a
{
  text-decoration:none;
  color:$black;
}

a:hover
{
  color:$orange;
}
