$grey: #e9e8e8;
$orange: #d4740d;
$off-white: #eee;
$off-whiteAlpha: rgba(245, 245, 245, 0.85);
$darkGrey: #9f9f9f;
$black: #030303;
$charcoal: #4c4c4c;


/* media query sizes */
$maxDesktopHDWidth: 1537px;
$maxDesktopScreenWidth: 96rem;
$maxTabletScreenWidth: 60rem;
$maxMobileScreenWidth: 48rem;
