$grey: #e9e8e8;
$orange: #e46815;
$off-white: #efefef;
$off-whiteAlpha: rgba(245, 245, 245, 0.92);
$darkGrey: #9f9f9f;
$fadedDarkGrey: rgba(159, 159, 159, 0.3);
$black: #030303;
$charcoal: #4c4c4c;
$purple: #851c7f;
$blue: #296bd6;


/* media query sizes */
$maxDesktopHDWidth: 1537px;
$maxDesktopScreenWidth: 96rem;
$maxTabletScreenWidth: 60rem;
$maxMobileScreenWidth: 48rem;
