footer {
  display: block;
  margin: -2rem auto 0 auto;
  padding: 0;
  width: 100%;
  font-size: 1rem;
  font-weight: bold;

  & ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  & ul li {
    margin: 0 1rem;
    width: 4rem;
    min-height: 2rem;

    & div {
      & a {
        & i {
          font-size: 3.5em;
          margin: 0 0.5rem;
        }

        & i:hover {
          color: $orange;
        }
      }
    }
  }

  & ul li.year {
    margin: 1rem 0 0 0;
    width: 100%;
    text-align: center;
  }

  & ul li.webdev {
    margin: 1rem 0 0 0;
    width: 100%;
    text-align: center;
  }

  & ul li.footer-links {
    text-align: center;
    width: 100%;
  }
}
