/* main container used by main index.js */
.container {
  margin: 0 auto;
  padding: 0 0 4rem 0;
}

/* all page structure all belong to us */
.pageContainer {
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  margin: 0 auto;
  position: relative;

  & .blackBorder {
    border: 0.1rem solid $charcoal;
    width: 98%;
    margin: 0 auto;
  }

  & .left {
    display: block;
    position: relative;
    width: 50%;
    min-height: 60rem;
    margin: 2rem 0;

    & img {
      object-fit: cover;
      margin: 0;
      border: 1px solid $fadedDarkGrey;
    }
  }

  & .right {
    display: block;
    position: relative;
    width: 50%;
    min-height: 12rem;
    margin: 2rem 0;
  }

  &.homePage {
    // & .left {    }
    & .right {
      /* index page */
      display: flex;
      justify-content: center;
      align-content: center;
      align-items:center;
      
      & .homeText {
        width: 80%;
        font-size: 1.6rem;
        line-height: 1.5em;
      }

      & .home_glyph {
        position: absolute;
        margin: auto;
        width: 55%;
        height: 90%;
        opacity: 0.15;
        background: url('./../images/melany-md_glyph.svg');
        background-repeat: no-repeat;
      }
    }
  }

  /* artist page */
  // &.artPage {
  //   & .left {
  //   }

  //   & .right {
  //   }
  // }

  /* advertising page */
  &.advertPage {
    & .right {
      display: flex;
      flex-flow: column nowrap;
    }
  }

  /* bio page */
  &.bioPage {
    & .right {
      /* index page */
      display: flex;
      justify-content: center;
      /* overflow-y: auto; auto enable scrollbar = better for responsive */
      position: relative;

      & .bioText {
        font-size: 1.6rem;
        line-height: 1.5em;
        height: 45rem;
        padding: 0 0.5em 0 0.5em;

        & p {
          margin: 1rem 1rem 2rem 1rem;
        }

        & p.indent {
          text-indent: 1rem;
        }
      }
    }
  }

  /* Graphic page */
  &.graphicPage {
    & .right {
      display: flex;
      flex-flow: column nowrap;
    }
  }

  /* Storyboard page */
  &.storyboardPage {
    & .right {
      display: flex;
      flex-flow: column nowrap;
    }
  }

  /* Tattoo page */
  // &.tattooPage {  }

  /* Teacher page */
  &.teacherPage {
    // & .left {  }

    & .right {
      /* index page */
      display: flex;
      justify-content: center;
      align-content: center;
      align-items:center;
      
      & .homeText {
        width: 85%;
        font-size: 1.6rem;
        line-height: 1.4em;

        & p {
          margin-bottom: 4rem;
        }

        & b {
          font-weight: 700;
        }

        //& a { }

        & a.pdf {
          color: $black;
          text-decoration: underline;
        }

        & a.pdf:hover {
          color: $orange;
        }
      }
    }
  }
}
